@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, html, body {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    margin-left: 1em;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 1em;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('./images/hero-image.jpg') no-repeat center center/cover;
    color: rgb(21, 21, 21);
    text-align: center;
    padding: 5em 0;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 1em 0;
}

.hero .btn {
    background-color: #ff6347;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #252525;
}

section {
    padding: 2em 1em;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
}

.menu-item {
    background-color: #f9f9f9;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.menu-item:hover{
    background-color: #dedede;
    width: 305px;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item h3 {
    margin: 1em 0 0.5em;
}

.menu-item p {
    margin: 0 0 1em;
}

.order-btn {
    background-color: #ff6347;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-btn:hover{
    background-color: #252525;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 80%;
    max-width: 400px;
}

form button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#about {
    background-color: #f8f8f8;
    padding: 2em 1em;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

#about p {
    font-size: 1.1em;
    margin: 0.5em 0;
    line-height: 1.6;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
